.quick-fill {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  .fill-text {
    margin-bottom: 10px;
  }
  .tag-group {
    margin-left: 10px;
    .tag {
      cursor: pointer;
    }
    .tag-magenta {
      color: #a11950;
      background-color: #ffcfe1;
    }
    .tag-purple {
      color: #6e32c9;
      background-color: #e6d6ff;
    }
    .tag-blue {
      color: #054ada;
      background-color: #c9deff;
    }
    .tag-cyan {
      color: #0058a1;
      background-color: #b3e6ff;
    }
    .tag-teal {
      color: #006161;
      background-color: #92eeee;
    }
  }
}
