.wrapper {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #8a977b;
    width: 500px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);

    .single-square {
        border: 2px solid #8a977b;
        height: 100px;
        color: #d9480f;
        flex: 1 20%;
    }
}